useDynLib(pbdBASE)
import(methods, rlecuyer, pbdMPI, pbdSLAP, Rcpp)

# All internal functions
exportPattern("^base\\.[[:alpha:]]+")

exportMethods(
  "as.matrix", "as.vector", "as.ddmatrix",
  "submatrix", "submatrix<-",
  "[", "[<-", "na.exclude",
  "nrow", "ncol", "dim", "ldim", "bldim", "ctxt", "submatrix",
  "any", "all",
  "summary",
  "rbind", "cbind",
  "print"
)

export(
  ### blacs
  init.grid, blacs, gridexit, pnum, pcoord, blacsexit,
  minctxt,
  
  ### utility
  numroc, ownany,
  is.ddmatrix, is.na, is.nan, is.infinite, is.numeric,
  head.ddmatrix, tail.ddmatrix,
  
  "[", "[<-",
  
  ### distribution
  distribute, redistribute
)
